<div class="row">
  <div class="col-12 mt-5 ui raised segment">
    <div class="ui items">
      <div class="item">
        <div class="image">
            <img src="assets/images/logo.jpg" alt="">
        </div>
        <div class="content">
            <div class="description">
                <div class="row">
                  <div class="col-md-4">
                    <div class="ui fluid steps">
                      <div class="step">
                          <i class="user icon"></i>
                          <div class="content">
                            <div class="title">Name</div>
                            <div class="description">Paul otieno odipo</div>
                            <div class="ui divider"></div>
                            <div class="title">Gender</div>
                            <div class="description">Male</div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="ui fluid steps">
                      <div class="step">
                          <i class="book icon"></i>
                          <div class="content">
                            <div class="title">Year of Admission</div>
                            <div class="description">2017/2018</div>
                            <div class="ui divider"></div>
                            <div class="title">Registration Number</div>
                            <div class="description">In12/34567/89</div>
                            <div class="ui divider"></div>
                            <div class="title">Area of study</div>
                            <div class="description">Applied Computer Science</div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="ui fluid steps">
                      <div class="step">
                          <i class="call icon"></i>
                          <div class="content">
                            <div class="title">Email</div>
                            <div class="description">abc@gmail.com</div>
                            <div class="ui divider"></div>
                            <div class="title">Phone</div>
                            <div class="description">0712345689</div>
                            <div class="ui bottom attached buttons">
                              <button class="verify-btn ui small red button">Verify</button>
                              <div class="ui small modal">
                                <div class="header">Enter the code sent to your phone</div>
                                <div class="image content">
                                    <div class="description">
                                      <form class="ui equal width form">
                                        <div class="fields">
                                          <div class="required field">
                                            <label for="code">Code</label>
                                            <input type="text" placeholder="Code" id="code" required>
                                          </div>
                                        </div>
                                        <div class="ui bottom attached buttons">
                                          <button class="ui teal button">Verify</button>
                                        </div>
                                      </form>
                                    </div>
                                </div>
                                <div class="actions">
                                    <!-- <div class="ui black deny button">No</div> -->
                                    <div class="ui green approve button">Done</div>
                                </div>
                              </div>
                            </div>
                            <div class="ui divider"></div>
                            <div class="title">Residence</div>
                            <div class="description">Riverside</div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mt-1 ui raised segment">
    <div class="row">
      <div class="col-md-6">
        <div class="ui fluid steps">
          <div class="step">
              <div class="content">
                <div class="title">Ministries</div>
                <div class="description">
                  <ol class="ui animated list">
                    <li class="item">Praise and Worship</li>
                    <li class="item">Praise and Worship</li>
                    <li class="item">Praise and Worship</li>
                    <li class="item">Praise and Worship</li>
                  </ol>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="ui fluid steps">
          <div class="step">
              <div class="content">
                <div class="title">Evangelistic teams</div>
                <div class="description">
                  <ol class="ui animated list">
                    <li class="item">Praise and Worship</li>
                    <li class="item">Praise and Worship</li>
                    <li class="item">Praise and Worship</li>
                    <li class="item">Praise and Worship</li>
                  </ol>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
