<header>
  <nav>
    <ul class="ui top fixed inverted borderless menu pl-1">
      <li class="item">
        <a href="#">
          <img src="assets/images/logo.jpg" class="ui mini avatar image" alt="">
        </a>
      </li>
      <li class="item">
        <a href="#">Home</a>
      </li>
      <ul class="right icon menu">
        <li *ngIf="auth?.status === false" class="item">
          <a routerLink="/signup">Signup</a>
        </li>
        <li *ngIf="auth?.status === false" class="item">
          <a routerLink="/signin">Login</a>
        </li>
        <li class="item">
          <a href="javascript:void(0)">
            <div class="user">
              <img *ngIf="auth?.status === true" src="assets/images/logo.jpg" class="ui avatar image" alt=""> {{ ((auth?.status) ? 'Logged in as ' + auth.code + ' ' + '(' + auth?.category + ')' : '') | uppercase }}
            </div>
            <div class="ui flowing popup bottom left transition hidden">
              <div class="row">
                <!-- <div class="col-12">
                  <div class="d-flex align-items-center">
                    <i class="small black user icon"></i>
                    <a routerLink="/profile" class=" text-decoration-none text-dark" >My Profile</a>
                  </div>
                  <div class="ui divider  m-1"></div>
                </div>
                <div class="col-12">
                  <div class="d-flex align-items-center">
                    <i class="small black setting icon"></i>
                    <a routerLink="/settings" class=" text-decoration-none text-dark" >Edit Profile</a>
                  </div>
                  <div class="ui divider m-1"></div>
                </div> -->
                <div class="col-12">
                  <div (click)="logoutUser()" class="d-flex align-items-center">
                    <i class="small red sign out icon"></i>
                    <a href="javascript:void(0)" class=" text-decoration-none text-dark" >Logout</a>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li *ngIf="auth?.status === true" class="item">
          <a (click)="logoutUser()" routerLink="">Logout</a>
        </li>
      </ul>
    </ul>
  </nav>
</header>
<main class="container mt-5">
  <router-outlet></router-outlet>
</main>
