<div class="row d-flex justify-content-center">
  <div class="col-md-6 col-10 mt-5 ui raised segment">
    <form class="ui equal width form">
      <h1 class="ui large center aligned header">Signup</h1>
      <div class="fields">
        <div class="required field">
            <label for="email">Email</label>
            <div class="ui icon input">
              <input type="email" placeholder="Email" id="email" required>
              <i class="ui mail icon"></i>
            </div>

        </div>
      </div>
      <div class="fields">
        <div class="required field">
          <label for="password">Password</label>
          <div class="ui icon input">
            <input type="password" placeholder="Password" id="password" required>
            <i class="ui lock icon"></i>
          </div>
        </div>
      </div>
      <div class="fields">
        <div class="required field">
          <label for="confirm-password">Confirm Password</label>
          <div class="ui icon input">
            <input type="password" placeholder="Confirm Password" id="confirm-password" required>
            <i class="ui lock icon"></i>
          </div>
        </div>
      </div>
      <div class="ui bottom attached buttons">
        <button class="ui teal button">Signup</button>
    </div>
    </form>
  </div>
</div>
